<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lista de Produtos</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Id produto</th>
          <th>Nome do produto</th>
          <th>Preço do produto</th>
          <th>Quantia em estoque</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="produto : ${produtos}">
          <td th:text="${produtos.id}"></td>
          <td th:text="${produtos.nome}"></td>
          <td th:text="${produtos.preco}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>